<div style="text-align:center;">
	<form method="post" action="<{$smarty.const.XOOPS_URL}>/modules/Xurl/index.php">
		<textarea style="background:url(<{$smarty.const.XOOPS_URL}>/modules/Xurl/images/xurl_trans.png); background-repeat:no-repeat; background-position:center;" cols="18" rows="5" name="txt" id="txt"></textarea>
		<br />
		<input type="submit" name="submits" id="submit" value="<{$smarty.const._MB_XURL_FORM_SANITIZE}>">
	</form>
	<br /><br />
	<span style="font-size:x-small;"><{$smarty.const._MB_XURL_FORM_INFO}></span>
	<br />
</div>


