<link type="text/css" href="<{$xoops_url}>/modules/Xurl/class/jquery/jquery-ui-1.7.1.custom.css" rel="stylesheet" />
<script type="text/javascript" src="<{$xoops_url}>/modules/Xurl/class/jquery/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="<{$xoops_url}>/modules/Xurl/class/jquery/ui.core.js"></script>
<script type="text/javascript" src="<{$xoops_url}>/modules/Xurl/class/jquery/ui.tabs.js"></script>

<script type="text/javascript">
$(document).ready(function(){
$("#tabs").tabs();
});
</script>

<div id="tabs">
	<ul>
		<li><a href="#fragment-1"><span><{$smarty.const._AM_XURL_TAB1}></span></a></li>
		<li><a href="#fragment-2"><span><{$smarty.const._AM_XURL_TAB2}></span></a></li>
	</ul>
<div id="fragment-1">
<!-- 1 TAB START -->
<img src="<{$xoops_url}>/modules/Xurl/images/xurl.png" align="right">
<h2><{$smarty.const._AM_XURL_TAB1_HEAD}></h2>
<table style="border-bottom:solid 2px; border-top:solid 2px; border-left:solid 2px; border-right:solid 2px; width:auto;">
<tr><td width="100"><strong><{$smarty.const._AM_XURL_VERSION}></strong></td><td><{$version}></td></tr>
<tr><td><strong><{$smarty.const._AM_XURL_DESC}></strong></td><td><{$description}></td></tr>
<tr><td><strong><{$smarty.const._AM_XURL_AUTHOR}></strong></td><td><a href="http://www.designburo.nl"><{$author}></a></td></tr>
<tr><td><strong><{$smarty.const._AM_XURL_LCNSE}></strong></td><td><a href="<{$xoops_url}>/modules/Xurl/<{$licensefile}>" rel="external"><{$license}></a></td></tr>
<tr><td><strong><{$smarty.const._AM_XURL_STATUS}></strong></td><td><{$status}></td></tr>
<tr><td><strong><{$smarty.const._AM_XURL_RELEASED}></strong></td><td><{$released}></td></tr>
</table>
<br /><br />
<a href="http://ett.designburo.nl"><img src="http://www.designburo.nl/ett2/themes/ixt01110/img/logo.png" border="0"/></a>
<h4><{$smarty.const._AM_XURL_TAB1_FOOT1}><font color="#FF0000"><i>TCP</i></font>transfer <{$smarty.const._AM_XURL_TAB1_FOOT2}></h4><br />
<!-- 1 TAB END -->
</div>
<div id="fragment-2">
<!-- 2 TAB START -->
<!-- settings form-->
<img src="<{$xoops_url}>/modules/Xurl/images/xurl.png" align="right">
<{$smarty.const._AM_XURL_TAB2_HEAD}><br />
<form name="xurl_settings" method="post" action="index.php">
<table style="border-bottom:solid 2px; border-top:solid 2px; border-left:solid 2px; border-right:solid 2px; width:auto;">
<tr><td width="100"><{$smarty.const._AM_XURL_SET_SQLHOST}></td><td><input name="Shost" id="Shost" type="text" size="30" value="" /></td>
<td><i><{$smarty.const._AM_XURL_SET_SQLHOST_D}></i></td></tr>

<tr><td width="100"><{$smarty.const._AM_XURL_SET_SQLUSR}></td><td><input name="Suser" id="Suser" type="text" size="30" value="" /></td>
<td><i><{$smarty.const._AM_XURL_SET_SQLUSR_D}></i></td></tr>

<tr><td width="100"><{$smarty.const._AM_XURL_SET_SQLPASS}></td><td><input name="Spass" id="Spass" type="text" size="30" value="" /></td>
<td><i><{$smarty.const._AM_XURL_SET_SQLPASS_D}></i></td></tr>

<tr><td width="100"><{$smarty.const._AM_XURL_SET_SQLDB}></td><td><input name="Sdb" id="Sdb" type="text" size="30" value="" /></td>
<td><i><{$smarty.const._AM_XURL_SET_SQLDB_D}></i></td></tr>

<tr><td width="100"><{$smarty.const._AM_XURL_SET_SQLTBLE}></td><td><input name="Stable" id="Stable" type="text" size="30" value="" /></td>
<td><i><{$smarty.const._AM_XURL_SET_SQLTBLE_D}></i></td></tr>

<tr><td width="100"><{$smarty.const._AM_XURL_SET_BASE}></td><td><input name="base" id="base" type="text" size="30" value="" /></td>
<td><i><{$smarty.const._AM_XURL_SET_BASE_D}></i></td></tr>
<tr><td align="right" colspan=3"><br /><input type="submit" name="submit" id="submit" value="<{$smarty.const._AM_XURL_SET_SAVE}>" /></td></tr>

</table>
</form>


<!-- 2 TAB END -->
</div>
</div>
